

/*NavBar*/
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}
.navbar-toggler-icon{
     color: white;
}
    
    

/* change the background color */
.navbar-custom {
    background-color:#304ffe;
  x
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: white;

}
/* change the link color and add padding for height */
.navbar-custom .navbar-nav .nav-link {
    color: white;
   
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #ffffff;
    background-color: #304ffe; /* add background-color to active links */
}.navbar-custom {
    background-color: #304ffe;
}

/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: #ffffff;
}

/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: #ffffff;
}

/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #ffffff;
}

/* for dropdown only - change the color of droodown */
.navbar-custom .dropdown-menu {
    background-color: #304ffe;
}
.navbar-custom .dropdown-item {
    color: #ffffff;
}
.navbar-custom .dropdown-item:hover,
.navbar-custom .dropdown-item:focus {
    color: #ffffff;
    background-color: #4965fe;
}








.card{
    border: none;
}

input[type=text] {
  border: none;
  background-color: #F5F5F5;
}

text[type=text] {
  border: none;
  background-color: #F5F5F5;
}


.navbar-light{
  border: none;
 background-color:#304ffe;
  color: white;
 
}


.icone{
    
   
     color: #FF3115;
   
}


.btn-secondary   {
 
 
  background-color:#FF3115;
  color: white;
     border-color:#FF3115;
    
 
}

.bg-custom{
    background-color:#FF3115;
    color: white;
    border-color:#FF3115;
}

.light-blue h1 , h2 ,h3 ,h4 ,h5 ,h6 {
   
   color: #40C4FF;
}




.badge-secondary{
       color: #ffffff;
      background-color: #40C4FF;
}


.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active, .btn-secondary.active, .open>.dropdown-toggle.btn-secondary  {
 
  border: none;
  background-color:#212121;
  color: white;
  border-color:#212121;
}





@media only screen and (max-width: 768px) {

.load-container{
 padding: 30vmin 30vmin 30vmin 30vmin; 
 text-align: center;


 
}
}

.load-container{
 padding: 30vmin 30vmin 30vmin 30vmin; 
 text-align: right;
 float: right;


 
}







.load-container{
  text-align: center;
  display: inline-block;
}


.post { display:none; }


.navbar-brand{
 
 /* font-family: "Suranna" */
    
}

.home-page-news img {
  opacity:  0.7;
}

.home-page-news img:hover {
  opacity: 1.0;
}

.home-page-news a:link {
  text-decoration: none;
  color: #333333;
}

.home-page-news a:visited {
 text-decoration: none;
 color: #666666; 
}

.home-page-news a:hover {
   text-decoration: none;
   color:  #666666;
}

.home-page-news a:active {
  text-decoration: none;
  color:  #666666;
} 



#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  cursor: pointer;
}


.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.partners img{
    filter: grayscale(100%);
     filter: grayscale(100%);
    -webkit-filter: grayscale(100%); /* New WebKit */    
    -ms-filter: grayscale(100%); 
    -o-filter: grayscale(100%); /* Not yet supported in Gecko, Opera or IE */ 
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); 
    filter: gray; /* IE */
    -webkit-filter: grayscale(1); /* Old WebKit */
}

.navbar-brand img {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%); /* New WebKit */    
    -ms-filter: grayscale(100%); 
    -o-filter: grayscale(100%); /* Not yet supported in Gecko, Opera or IE */ 
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); 
    filter: gray; /* IE */
    -webkit-filter: grayscale(1); /* Old WebKit */
}


/* 
body { margin: 60px auto; width: 70%; }

a { text-decoration: none; color: #999; }
a:hover { text-decoration: underline; }

p, ul { font-size: 1.5em; line-height: 1.4em; color: #333; }

h1, h2, h3, h4 { font-family: 'Helvetica', 'Arial', 'Sans-Serif'; }
h1 { font-size: 3em;  }
h2 { font-size: 2.7em; }
h3 { font-size: 2.3em; }
h4 { font-size: 1.9em; }

nav ul, footer ul { font-size: 1em; font-family: 'Helvetica', 'Arial', 'Sans-Serif'; padding: 0px; list-style: none; font-weight: bold; }
nav ul li, footer ul li { display: inline; margin-right: 20px; }

footer { border-top: 1px solid #d5d5d5; font-size: .8em; }

*/
/* Blog */

/*

ul.posts { margin: 20px auto 40px; font-size: 1.5em; }
ul.posts li { list-style: none; }

*/

/* CV */

/*
.cv { margin: 0px 0px 60px; }
.cv h1 { font-size: 3em; }
.cv h2 { font-size: 2em; }
.cv address, .cv .download { font-family: 'Helvetica', 'Arial', 'Sans-Serif'; }
.cv address, .cv p { font-size: 1.2em; }
.cv .download { float: right; font-size: .8em; text-transform: uppercase; }


*/


/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/

/* Timeline holder */
ul.timeline {
    list-style-type: none;
    position: relative;
    padding-left: 1.5rem;
}

 /* Timeline vertical line */
ul.timeline:before {
    content: ' ';
    background: #fff;
    display: inline-block;
    position: absolute;
    left: 10px;
    width: 4px;
    height: 100%;
    z-index: 400;
    border-radius: 1rem;
}

li.timeline-item {
    margin: 20px 0;
}

/* Timeline item arrow */
.timeline-arrow {
    border-top: 0.5rem solid transparent;
    border-right: 0.5rem solid #fff;
    border-bottom: 0.5rem solid transparent;
    display: block;
    position: absolute;
    left: 2rem;
}

/* Timeline item circle marker */
li.timeline-item::before {
    content: ' ';
    background: #ddd;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #fff;
    left: 11px;
    width: 14px;
    height: 14px;
    z-index: 400;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}






body {
    
    min-height: 100vh;
}



















@media only screen and (max-width: 768px) {


    .section-1 .row .col-md-6 .panel {
        position: initial;
        width: initial;
        height: initial;
    }
}




    /********** section 1 **************/

    .section-1 {
        padding: 30vmin 0vmin; 
    }

        .section-1 .row .col-md-6 .pray img {
            opacity: 0.8;
            width: 50%;
            border-radius: 0.2em;
        }

        .section-1 .row .col-md-6:last-child {
            position: relative;
        }

        .section-1 .row .col-md-6 .panel {
            position: absolute;
          
            top: 3vmin;
            left: -10vmin; 
            background: white;
            border-radius: 3px;
            text-align: left;
            padding: 5vmin 4vmin 5vmin 5vmin;
            box-shadow: 0px 25px 42px rgba(0, 0, 0, 0.2);
            font-family: var(--Rubik);
            z-index: 1;
        }

            .section-1 .row .col-md-6 .panel h1 {
                font-weight: bold;
                padding: 0.4em 0;
                font-size: 2em;
            }

            .section-1 .row .col-md-6 .panel p {
                font-size: 0.9em;
                color: rgba(0, 0, 0, 0.5);
            }


@media only screen and (max-width: 768px) {

    .section-1 .row .col-md-6 .panel {
        position: initial;
        width: initial;
        height: initial;
    }
}


.site-newsletter
{
    padding: 30vmin 0vmin; 
}








