---
layout: default
title: G.D.R Verdena
---

<!--
		<div class="blurb">
			<h1>G.D.R Verdena</h1>
			<p>Grupo Desportivo, Recreativo e Cultural...</a></p>
		</div> 

-->



<div class="container-fluid">
	<h2 class="text-muted">Última Notícia <span class="badge badge-secondary">New</span></h2>
{% for post in site.posts limit:1 %}
<div class="row featurette shadow p-3 mb-5 bg-white rounded ">
                    <div class="col-md-7">
                         <a href="{{ post.url }}" title="{{ post.title }}"> <h2 class="featurette-heading">{{ post.title }} <span class="text-muted">{{ post.description }}</span></h2></a>
                        <p class="lead"> {{ post.excerpt | strip_html | strip_newlines | truncate: 156 }}  </p>
                    </div>
			{% if post.featured-image And post.featured-image != "" And post.featured-image != nil   %}
                    <div class="col-md-5 float-left  ">
                        <img class="featurette-image img-fluid mx-auto pull-left " src="{{ post.featured-image }}" data-src="{{ post.featured-image }}" data-holder-rendered="true" style="width: 400px; height: 400px;">
                    </div>
			{% endif %}
                </div>
{% endfor %}
</div>



<div class="container-fluid">
<h3 class="text-muted text-center">Notícias Recentes <span class="badge badge-secondary">New</span></h3>
   <hr class="featurette-divider">
	{% for post in site.posts offset:1 limit:2 %}
                <div class="row featurette">
                    <div class="col-md-7">
                         <a href="{{ post.url }}" title="{{ post.title }}"> <h2 class="featurette-heading">{{ post.title }} <span class="text-muted">{{ post.description }}</span></h2></a>
                        <p class="lead"> {{ post.excerpt | strip_html | strip_newlines | truncate: 156 }}  </p>
                    </div>
			{% if post.featured-image And post.featured-image != "" And post.featured-image != nil   %}
                    <div class="col-md-5 pray">
                        <img class="featurette-image img-fluid mx-auto " src="{{ post.featured-image }}" data-src="{{ post.featured-image }}" data-holder-rendered="true" style="width: 200px; height: 200px;">
                    </div>
			{% endif %}
                </div>
                <hr class="featurette-divider">
	
          
                <hr class="featurette-divider">
            {% endfor %}
	
	  </div>


<br><br><br><br>

<!--
<ul class="tags">
{% for tag in site.tags %}
  {% assign t = tag | first %}
  {% assign posts = tag | last %}
  <li>{{t | downcase | replace:" ","-" }} has {{ posts | size }} posts</li>
{% endfor %}
</ul>

-->


<!--
{% for tag in site.tags %}
  {% assign t = tag | first %}
  {% assign posts = tag | last %}

{{ t | downcase }}
<ul>
{% for post in posts %}
  {% if post.tags contains t %}
  <li>
    <a href="{{ post.url }}">{{ post.title }}</a>
    <span class="date">{{ post.date | date: "%B %-d, %Y"  }}</span>
  </li>
  {% endif %}
{% endfor %}
</ul>
{% endfor %}

-->


<style>
	.hidden {
  display: none!important;
  visibility: hidden!important;
}
</style>




<script>

</script>	
	


<!--

<ul class="blog-tags-list">
  {% assign sorted_tags = site.tags | sort %}
  {% for tag in sorted_tags %}
    {% assign t = tag | first %}
    {% assign posts = tag | last %}
    <li class="blog-tag-item" id="{{ t }}-item">
      <a href onclick="filter('{{ t }}'); return false;">{{ t }}</a>
    </li>
  {% endfor %}
</ul>






	  
	  






{% for tag in site.tags %}
  {% assign t = tag | first %}
  {% assign posts = tag | last %}
  <div class="blog-list-container " id="{{ t }}-container">
    <ul class="blog-list">
      {% for post in posts %}
        {% if post.tags contains t %}
          <li>
            <span class="blog-item-date">{{ post.date | date: "%d %b %Y" }}</span>
            <a href="{{ post.url }}">{{ post.title }}</a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>

	-->  
	  <!--
    {% assign numPosts = posts | size %}
    {% if numPosts == 1 %}
      <p>{{ posts | size }} post containing tag <b>{{ t }}</b></p>
    {% else %}
      <p>{{ posts | size }} posts containing tag <b>{{ t }}</b></p>
    {% endif %}
-->
 <!-- </div>
{% endfor %} -->







<br><br><br><br>
<!--



<div class="tags">
Tags
{% for tag in site.tags %}
	 {% assign t = tag | first %}
	<div class='tag'>
		<a href='/tag/#{{ t }}'>{{ t }}</a>
	</div> 
	{% endfor %}
</div>

-->



<br><br><br><br>





{% include partners.html %}



