---
layout: default
title: G. D. R. Verderena Notícias
---

<div class="container">
  <div class="row">
    <!-- Latest Posts -->
    <main class="posts-listing col-lg-8">
      <div class="container">
        <div class="row">
          <!-- post -->

          <!-- post             -->

          <!-- post             -->

          <!-- post -->
          {% for post in site.posts %}

          <div class="post col-xl-6">
            {% if post.featured-image And post.featured-image != "" And post.featured-image != nil   %}
            <div class="post-thumbnail">

              <a href="{{ post.url }}">

                <img data-src="{{ post.featured-image }}" src="{{ post.featured-image }}" alt="..." class="img-fluid">
              </a>

            </div>
            {% endif %}

            <div class="post-details">
              <div class="post-meta d-flex justify-content-between">
                <div class="date meta-last">{{ post.date | date_to_string }}</div>
                <div class="category"><a href="#">Business</a></div>
              </div><a href="{{ post.url }}">
                <h3 class="h4">Alberto Savoia Can Teach You About Interior</h3>
              </a>
              <p class="text-muted">{{ post.description }}</p>
              <p class="text-muted">{{ post.excerpt | strip_html | strip_newlines | truncate: 156 }} </p>
              <div class="post-footer d-flex align-items-center">
                {% for tag in post.tags %}
                {% capture tag_name %}{{ tag }}{% endcapture %}
                <a href="/tag/{{ tag_name }}"><code class="highligher-rouge btn btn-light btn-sm mb-1 text-small mt-2 font-weight-light text-muted">
                    <nobr>
                      <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-hash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path d="M8.39 12.648a1.32 1.32 0 0 0-.015.18c0 .305.21.508.5.508.266 0 .492-.172.555-.477l.554-2.703h1.204c.421 0 .617-.234.617-.547 0-.312-.188-.53-.617-.53h-.985l.516-2.524h1.265c.43 0 .618-.227.618-.547 0-.313-.188-.524-.618-.524h-1.046l.476-2.304a1.06 1.06 0 0 0 .016-.164.51.51 0 0 0-.516-.516.54.54 0 0 0-.539.43l-.523 2.554H7.617l.477-2.304c.008-.04.015-.118.015-.164a.512.512 0 0 0-.523-.516.539.539 0 0 0-.531.43L6.53 5.484H5.414c-.43 0-.617.22-.617.532 0 .312.187.539.617.539h.906l-.515 2.523H4.609c-.421 0-.609.219-.609.531 0 .313.188.547.61.547h.976l-.516 2.492c-.008.04-.015.125-.015.18 0 .305.21.508.5.508.265 0 .492-.172.554-.477l.555-2.703h2.242l-.515 2.492zm-1-6.109h2.266l-.515 2.563H6.859l.532-2.563z" />
                      </svg>

                      {{ tag_name }}

                    </nobr>
                  </code>&nbsp;</a>
                {% endfor %}
              </div>
              <div class="post-footer d-flex align-items-center"><a href="#" class="author d-flex align-items-center flex-wrap">
                  <div class="avatar"><img src="img/avatar-1.jpg" alt="..." class="img-fluid"></div>
                  <div class="title"><span>{% if post.author %} {{ post.author }} {% else %} {{ site.author }} {% endif %} </span></div>
                </a>
                <div class="date"><i class="icon-clock"></i> 2 months ago</div>
                <div class="date"><i class="icon-clock"></i>{% include read_time.html content=post.content %}</div>
                <div class="comments meta-last"><i class="icon-comment"></i>12</div>
              </div>

              <div class="post-footer d-flex align-items-center">

                <a id="share" onclick="sharePost(`{{ post.title }}` , `{{  post.description }}` , `{{ post.url }}` )" class="text-muted share btn"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-share-fill texte-muted" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5z" />
                  </svg></a>
                <p class="result" hidden></p>
              </div>
            </div>
          </div>
        </div>

        {% endfor %}
        <!-- Pagination 
            <nav aria-label="Page navigation example">
              <ul class="pagination pagination-template d-flex justify-content-center">
                <li class="page-item"><a href="#" class="page-link"> <i class="fa fa-angle-left"></i></a></li>
                <li class="page-item"><a href="#" class="page-link active">1</a></li>
                <li class="page-item"><a href="#" class="page-link">2</a></li>
                <li class="page-item"><a href="#" class="page-link">3</a></li>
                <li class="page-item"><a href="#" class="page-link"> <i class="fa fa-angle-right"></i></a></li>
              </ul>
            </nav> 
              -->
      </div>
    </main>
    <aside class="col-lg-4">
      <!-- Widget [Search Bar Widget]
          <div class="widget search">
            <header>
              <h3 class="h6">Search the blog</h3>
            </header>
            <form action="#" class="search-form">
              <div class="form-group">
                <input type="search" placeholder="What are you looking for?">
                <button type="submit" class="submit"><i class="icon-search"></i></button>
              </div>
            </form>
          </div> -->
      <!-- Widget [Latest Posts Widget]        -->
      <div class="widget latest-posts">
        <header>
          <h3 class="h6">Latest Posts</h3>
        </header>
        <div class="blog-posts"><a href="#">
            <div class="item d-flex align-items-center">
              <div class="image"><img src="img/small-thumbnail-3.jpg" alt="..." class="img-fluid"></div>
              <div class="title"><strong>Alberto Savoia Can Teach You About</strong>
                <div class="d-flex align-items-center">
                  <div class="views"><i class="icon-eye"></i> 500</div>
                  <div class="comments"><i class="icon-comment"></i>12</div>
                </div>
              </div>
            </div>
          </a></div>
      </div>
      <!-- Widget [Categories Widget]-->
      <div class="widget categories">
        <header>
          <h3 class="h6">Categories</h3>
        </header>
        <div class="item d-flex justify-content-between"><a href="#">Growth</a><span>12</span></div>
        <div class="item d-flex justify-content-between"><a href="#">Local</a><span>25</span></div>
        <div class="item d-flex justify-content-between"><a href="#">Sales</a><span>8</span></div>
        <div class="item d-flex justify-content-between"><a href="#">Tips</a><span>17</span></div>
        <div class="item d-flex justify-content-between"><a href="#">Local</a><span>25</span></div>
      </div>
      <!-- Widget [Tags Cloud Widget]-->
      <div class="widget tags">
        <header>
          <h3 class="h6">Tags</h3>
        </header>
        <ul class="list-inline">
          <li class="list-inline-item"><a href="#" class="tag">#Business</a></li>
          <li class="list-inline-item"><a href="#" class="tag">#Technology</a></li>
          <li class="list-inline-item"><a href="#" class="tag">#Fashion</a></li>
          <li class="list-inline-item"><a href="#" class="tag">#Sports</a></li>
          <li class="list-inline-item"><a href="#" class="tag">#Economy</a></li>
        </ul>
      </div>
    </aside>
  </div>
</div>
