<style>
@media (max-width: 768px) {
    .carousel-inner .carousel-item > div {
        display: none;
    }
     .carousel-inner .carousel-item .txt-info {
        display: none;
    }
   
    .carousel-inner .carousel-item > div:first-child {
        display: block;
    }
}
.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}
/* display 3 */
@media (min-width: 768px) {
    
    .carousel-inner .carousel-item-right.active,
    .carousel-inner .carousel-item-next {
      transform: translateX(33.333%);
    }
    
    .carousel-inner .carousel-item-left.active, 
    .carousel-inner .carousel-item-prev {
      transform: translateX(-33.333%);
    }
}
.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left{ 
  transform: translateX(0);
}
</style>
<div class="container-fluid text-center my-3">
  <!--  <h2 class="font-weight-light">GRUPO DESPORTIVO E RECREATIVO DA VERDERENA</h2> -->
    <div class="row mx-auto my-auto">
        <div id="recipeCarousel" class="carousel slide w-100" data-ride="carousel">
            <div class="carousel-inner w-100" role="listbox">
                <div class="carousel-item active">
                    <div class="col-md-6 col-lg-6 col-xs-6">
                         <div class="card text-white ">
                            <img class="card-img"  data-src="{{ url }}assets/img/slide/slide-1_v2.jpg" src="{{ url }}assets/img/slide/slide-1_v2.jpg" onError="this.onerror=null;this.src='https://raw.githubusercontent.com/GDR-Verderena/gdr-verderena.github.io/master/assets/img/logo.png';">
                           <!--  <div class="black-overlay"></div> -->

    
        
          
    

        
    
    
  
                            <div class="card-img-overlay"> 
                            <!--    <h6 class="card-title">GDR VERDERENA</h6>
                                <p class="card-text font-weight-light txt-info">No desenvolvimento de actividades e iniciativas para o crescimento do movimento associativo no Barreiro.</p>
                                -->
                            <a href="/about#about" class="btn_info">CONHEÇA-NOS</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% for actividades in site.actividades %}
                <div class="carousel-item">
                    <div class="col-md-6 col-lg-6 col-xs-6">
                         <div class="card text-white ">
                             {% if actividades.link_image And actividades.link_image != "" And actividades.link_image != nil    %} 
                            <img class="card-img" data-src="{{ actividades.link_image }}" src="{{ actividades.link_image }}" onError="this.onerror=null;this.src='https://raw.githubusercontent.com/GDR-Verderena/gdr-verderena.github.io/master/assets/img/logo.png';">
                            <!-- <div class="black-overlay"></div> -->
                             {% else %}
                              <img class="card-img" data-src="https://raw.githubusercontent.com/GDR-Verderena/gdr-verderena.github.io/master/assets/img/logo.png" src="https://raw.githubusercontent.com/GDR-Verderena/gdr-verderena.github.io/master/assets/img/logo.png" onError="this.onerror=null;this.src='https://raw.githubusercontent.com/GDR-Verderena/gdr-verderena.github.io/master/assets/img/logo.png';">
                           <!--  <div class="black-overlay"></div>   -->  
                             {% endif %}
                            <div class="card-img-overlay">    
                         <!--   
                                <h6 class="card-title">{{actividades.name}}</h6>
                                <p class="card-text font-weight-light txt-info ">{{actividades.desciption}}</p>
                                
                                <a href="/contact" class="btn_info">{{actividades.button_info}}</a>
                                -->
                                
                               <a href="/contact" class="btn_info">{{actividades.name}}</a>
                                
                            </div>
                        </div>
                    </div>
                </div>

    
          
            
    

          
    
    
  
               
               {% endfor %}
                
            </div>
            <a class="carousel-control-prev w-auto" href="#recipeCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon bg-dark border border-dark rounded-circle" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next w-auto" href="#recipeCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon bg-dark border border-dark rounded-circle" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
  <!--  <h5 class="mt-2">GRUPO DESPORTIVO E RECREATIVO DA VERDERENA</h5> -->
</div>
<script>
$('#recipeCarousel').carousel({
  interval: 10000
})
$('.carousel .carousel-item').each(function(){
    var minPerSlide = 2;
    var next = $(this).next();
    if (!next.length) {
    next = $(this).siblings(':first');
    }
    next.children(':first-child').clone().appendTo($(this));
    
    for (var i=0;i<minPerSlide;i++) {
        next=next.next();
        if (!next.length) {
        	next = $(this).siblings(':first');
      	}
        
        next.children(':first-child').clone().appendTo($(this));
      }
});
</script>
