



 <script src="https://www.google.com/recaptcha/api.js"></script>

 <script src="https://www.google.com/recaptcha/api.js?trustedtypes=true"></script>

 <script src="https://www.google.com/recaptcha/api.js?render=6LfM7DYhAAAAALcQ58IdKVY1n06BWxTAElQJQIjW"></script>

 <script>
      function onClick(e) {
        e.preventDefault();
        grecaptcha.ready(function() {
          grecaptcha.execute('6LfM7DYhAAAAALcQ58IdKVY1n06BWxTAElQJQIjW', {action: 'submit'}).then(function(token) {
              // Add your logic to submit to your backend server here.
          });
        });
      }
  </script>

<script type="text/javascript">
function enableBtn(){
	
	document.getElementById("submit").disabled = false;
}
</script>



    <!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs text-muted">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Contacte-Nos</h2>
          <ol>
            <li><a href="/">Início</a></li>
            <li>Contacte-Nos</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs Section -->

<div class="container-fluid">

  <div class="row">
    <div class="col-12 text-center text-muted my-5">

      <h3 class="text-center text-muted"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-envelope-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555zM0 4.697v7.104l5.803-3.558L0 4.697zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757zm3.436-.586L16 11.801V4.697l-5.803 3.546z" />
        </svg></h3>
      <h2 class="display-4 "></i>CONTACTOS</h2>
    </div>
  </div>
  <hr />

  <div class="row justify-content-center mb-5">
    <div class="col-sm-12 col-md-10 col-lg-8">

      <form action="https://formsubmit.co/g.d.verderena@gmail.com" id="contact" role="form" method="post" accept-charset="utf-8" enctype="multipart/form-data" data-toggle="validator">
        <div class="text-muted"></div>
        <div class="form-row">
          <div class="form-group col-sm-6">
            <label for="Name" class="control-label">Nome</label>
            <input name="Nome" type="text" for="Name" class="form-control" />
            <span for="Name" class="text-muted"></span>
          </div>
		
          <div class="form-group col-sm-6">
            <label for="Subject">Assunto</label>
            <select name="Assunto" type="text" for="Subject" class="form-control " required />
	<option selected>Geral</option>
{% for actividade in site.actividades %}
{% if actividade.name And actividade.name != "" And actividade.name != nil    %} 
        <option>{{actividade.name}}</option>
{% endif %}
{% endfor %}
	</select>
            <span for="Subject" class="text-muted"></span>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-sm-12">
            <label for="Email">Email</label>
            <input id="email" name="Email" type="email" for="Email" class="form-control" required />
            <span for="Email" data-error="*Insira o seu Email" required class="text-muted"></span>
          </div>

          <div class="col text-center">
            <button style="display:none;" id="ContactosBtn" type="button" class="btn btn-secondary btn-sm  ">Contactos</button>
          </div>

        </div>
        <div class="form-row">
          <div class="form-group col-sm-12">
            <label for="Message">Mensagem</label>
            <textarea name="Message" rows="5" cols="15" for="Message" class="form-control textarea" spellcheck="true" type="text"></textarea>
            <span for="Message" class="text-muted"></span>
          </div>
        </div>
	    <div class="g-recaptcha" data-sitekey="6LfM7DYhAAAAALcQ58IdKVY1n06BWxTAElQJQIjW" data-callback="enableBtn"></div>
        <div>
	   
          <Button  id="submit" type="submit" class="btn btn-secondary"  disabled="disabled">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-envelope-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555zM0 4.697v7.104l5.803-3.558L0 4.697zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757zm3.436-.586L16 11.801V4.697l-5.803 3.546z" />
            </svg> Enviar </Button>

        </div>

        <input type="hidden" name="_autoresponse" value="Obrigado Por nos Contactar. Entraremos em Contacto Brevemente.">
        <input type="hidden" name="_captcha" value="false">
        <input type="hidden" name="_template" value="box">
        <input type="hidden" name="_next" value="https://gdr-verderena.github.io/">
        <input id="subject" type="hidden" name="_subject" value="G.D.R. VERDERENA">
        <input type="hidden" name="_replyto">

      </form>

    </div>

  </div>

</div>



 <script src="https://www.google.com/recaptcha/api.js"></script>

 <script src="https://www.google.com/recaptcha/api.js?trustedtypes=true"></script>

 <script src="https://www.google.com/recaptcha/api.js?render=6LfM7DYhAAAAALcQ58IdKVY1n06BWxTAElQJQIjW"></script>

 <script>
      function onClick(e) {
        e.preventDefault();
        grecaptcha.ready(function() {
          grecaptcha.execute('6LfM7DYhAAAAALcQ58IdKVY1n06BWxTAElQJQIjW', {action: 'submit'}).then(function(token) {
              // Add your logic to submit to your backend server here.
          });
        });
      }
  </script>


<script>
    
    

/* Contact Picker*/
const supported = "contacts" in navigator && "ContactsManager" in window;
ContactosBtn = document.getElementById("ContactosBtn");
EmailInput = document.getElementById("email");
if (supported) {
  console.log("Contact Picker is Suported");
  ContactosBtn.style.display = "initial";
  ContactosBtn.addEventListener("click", async () => {
    // We are unsure if email are supported, or can be provided by the browser.
    if ((await navigator.contacts.getProperties()).includes("email")) {
      const contacts = await navigator.contacts.select(["email"]);

      if (!contacts.length) {
        // No contacts were selected in the picker.
        return;
      }

      // length is 1 since we didn’t request multiple contacts.
      EmailInput.value = contacts[0].email;
    }

    // Fallback to a form.
  });
} else {
  console.log("Contact Picker is not Suported");
  ContactosBtn = document.getElementById("ContactosBtn");
  ContactosBtn.style.display = "none";
}


/* Contact Picker*/
    
    

    
    
if (navigator.vibrate) {

  

//navigator.vibrate(1000);
inputs = document.querySelector("#email");
inputs.addEventListener('invalid', function(e) {
    console.log('vibrate');
    window.navigator.vibrate([100, 50, 100]);
},  false  );
	
}



    

</script>
