<footer class="footer text-muted text-center">
  <div class="container">
    <div class="row">
      
     

      <div class="col-lg-4 col-md-6">
        <h3>Contactos</h3>
        <a href="mailto:g.d.verderena@gmail.com?subject=GDR%20Verderena&amp;body=Boas" class="text-reset contact-link">g.d.verderena@gmail.com</a>

        <a href="tel:+351212140065" class="text-reset contact-link">(+351) 21 214 0065</a>

      </div>

      <div class="col-lg-4 col-md-6">
        <h3>Novidades</h3>

        {% for post in site.posts limit:3 %}

        <div class="media">
          <div class="media-body">
            <p><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></p>
            <span class=" text-muted">{{ post.date | date_to_string }}</span>

          </div>
        </div>

        {% endfor %}
      <h6><a href="{{ post.url }}" Feed </a></h6>
      </div>

     
        <div class="col-lg-4 col-md-6" >
        <h3>Sobre Nos</h3>
        <h5> <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-badge-tm-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M2 2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2H2zm3.295 3.995V11H4.104V5.995h-1.7V5H7v.994H5.295zM8.692 7.01V11H7.633V5.001h1.209l1.71 3.894h.039l1.71-3.894H13.5V11h-1.072V7.01h-.057l-1.42 3.239h-.773L8.75 7.008h-.058z"/>
</svg> GDR VERDERENA</h5>
          
     
      </div 
      
      
      </div>
    </div>
</footer>
