
<!--
<div class="navbar-brand-1">  
<a class="navbar-brand ml-3 verderena" href="/">
    <span class="text-white"> G.D.R. VERDERENA </span>
  </a> 
  </div>
-->

<!-- <nav class="navbar navbar-expand-lg   navbar-custom   navbar-dark">
    <!-- <a aria-label="navbar" class="navbar-brand" href="/">

     <img src="{{ url }}/assets/img/logo.jpg" width="37.5" height="60" class="d-inline-block align-top" alt="" draggable="false">

    </a>
   <!-- <a class="navbar-brand " href="/"> G.D.R. VERDERENA </a> -->
    <!--<button class="navbar-toggler  " type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
      aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon ">

      </span>
    </button>
-->
   <!-- <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item ">
          <a class="nav-link" href="/"> INICIO <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about"> SOBRE NÓS </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact">  CONTACTOS</a>
        </li>-->
        <!--
      <li class="nav-item">
       <a class="nav-link" href="/achievements">Conquistas</a>
     </li>
     -->
    <!--
        <li class="nav-item">
          <a class="nav-link" href="/blog">NOTÍCIAS</a>
        </li>
      </ul>
    </div>
  </nav>

 -->






<header id="header shadow-sm p-3 mb-5 bg-white rounded">

<nav class="navbar navbar-expand-lg navbar-light  bg-transparent">
  <a class="navbar-brand" href="/">GDR VERDERENA</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/">Início<span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="/about">Sobre Nós</a>
      <a class="nav-item nav-link" href="">Parceiros</a>
      <a class="nav-item nav-link" href="/blog">Notícias</a>
      <a class="nav-item nav-link" href="/contacte-nos">Notícias</a>                                        
    </div>
  </div>
      
</nav>

</header>

