<div class="content" id="Parceiros">
  <div class="pt-5 pb-5 bg-white" style=" ">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-7 text-center">
          <h2 class="display-4 mb-2 "> Parceiros</h2>

          <p class="lead mb-3 ">Parceiros Institucionais</p>
          <div class="brands-m text-center d-flex-column partners ">
            <a href="https://www.cm-barreiro.pt/" target="_blank" style="text-decoration: none">
              <img class="w-25 m-4 lazyload" data-src="{{ url }}/assets/img/barreiro-1.svg" alt="partner4" draggable="false">
            </a>
	    <a href="https://www.jf-assav.pt/" target="_blank" style="text-decoration: none">
              <img class="w-25 m-4 lazyload" data-src="{{ url }}/assets/img/uniao_logo.png" alt="partner4" draggable="false">
            </a>
	    <a href="https://www.cpccrd.pt/" target="_blank" style="text-decoration: none">
              <img class="w-25 m-4 lazyload" data-src="{{ url }}/assets/img/cpdc.png" alt="partner4" draggable="false">
            </a>
	    <a href="httpS://setubal-fcds.blogspot.com/" target="_blank" style="text-decoration: none">
              <img class="w-25 m-4 lazyload" data-src="{{ url }}/assets/img/FCDS.jpg" alt="partner3" draggable="false">
            </a>  
	    
            <a href="https://accb-barreiro.weebly.com/" target="_blank" style="text-decoration: none">
              <img class="w-25 m-4 lazyload" data-src="{{ url }}/assets/img/accb.png" alt="partner4" draggable="false">
            </a>
            <!-- <img class="w-25 m-4" src="https://cdn.worldvectorlogo.com/logos/setubal-municipio-participado.svg" alt="" draggable="false"> -->
            <a href="https://www.fpatletismo.pt/" target="_blank" style="text-decoration: none">
              <img class="w-25 m-4 lazyload" data-src="{{ url }}/assets/img/fda.svg" alt="partner2" draggable="false">
            </a>  
            <a href="https://www.setubal-asas.com.pt/" target="_blank" style="text-decoration: none">
              <img class="w-25 m-4 lazyload" data-src="{{ url }}/assets/img/assas.jpg" alt="partner3" draggable="false">
            </a>
	    <a href="https://www.iefp.pt//" target="_blank" style="text-decoration: none">
              <img class="w-25 m-4 lazyload" data-src="{{ url }}/assets/img/iefp.png" alt="partner3" draggable="false">
            </a>                
          </div>
        </div>

        <div class="col-md-7 text-center">

          <p class="lead mb-3 ">Parceiros Não institucionais</p>
          <div class="brands-m text-center d-flex-column partners ">
            
            
            {% for partner in site.partners %}
             <a href="{{partner.link}}" target="_blank" style="text-decoration: none">
			    {% if partner.link_imagem And partner.link_imagem != "" And partner.link_imagem != nil    %} 
			    <img data-src="{{partner.link_imagem}}"  src="{{partner.link_imagem}}" alt="{{partner.name}}" class="w-25 m-4 lazyload" onError="this.onerror=null;this.src='https://gdrverderena.pt/assets/img/placeholder.svg';"  draggable="false" >
			    {% endif %}
		    </a>
              {% endfor %}
            
            
           
          </div>
        </div>

        <div class="col-md-7 text-center">

          <p class="lead mb-3 ">Parcerias Associativas</p>
          <div class="brands-m text-center d-flex-column partners ">
            <a href="https://www.facebook.com/Atletismo-GrupoDesportivo-Fonte-da-Prata-1505274209775044" target="_blank" style="text-decoration: none">
              <img class="w-25 m-4 lazyload" data-src="{{ url }}/assets/img/fonte_da_prata.jpg" alt="partner1" draggable="false">
            </a>
            <!-- <img class="w-25 m-4" src="https://cdn.worldvectorlogo.com/logos/setubal-municipio-participado.svg" alt="" draggable="false"> -->
            <a href="https://www.acdc.pt" target="_blank" style="text-decoration: none">
              <img class="w-25 m-4 lazyload" data-src="{{ url }}/assets/img/cotovia.png" alt="partner2" draggable="false">
            </a>
	
	<a href="#" target="_blank" style="text-decoration: none">
              <img class="w-25 m-4 lazyload" data-src="{{ url }}/assets/img/cbf.jpeg" alt="partner2" draggable="false">
            </a>

          </div>
        </div>

        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </div>
  <!-- /.content-overlay -->
</div>
