<div class="content noselect" id="Parceiros">
  <div class="pt-5 pb-5 bg-white" style=" ">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-7 text-center">
          <h2 class="display-4 mb-2 "> Parceiros</h2>

          <p class="lead mb-3 ">Parceiros Institcionais</p>
          <div class="brands-m text-center d-flex-column partners ">

            <a class="w-25 m-4 lazyload" href="https://www.cm-barreiro.pt/" target="_blank"><img class="w-25 m-4 lazyload" data-src="{{ url }}/assets/img/barreiro-1.svg" alt="partner1" draggable="false"></a>
            <!-- <img class="w-25 m-4" src="https://cdn.worldvectorlogo.com/logos/setubal-municipio-participado.svg" alt="" draggable="false"> -->
            <a class="w-25 m-4 lazyload" href="https://www.fpatletismo.pt/" target="_blank"><img class="w-25 m-4 lazyload" data-src="{{ url }}/assets/img/fda.svg" alt="partner2" draggable="false"></a>
            <a class="w-25 m-4 lazyload" href="http://www.jf-assav.pt/" target="_blank"><img class="w-25 m-4 lazyload" data-src="{{ url }}/assets/img/barreiro.svg" alt="partner3" draggable="false"></a>
            <a class="w-25 m-4 lazyload" href="http://www.jf-assav.pt/" target="_blank"><img class="w-25 m-4 lazyload" data-src="{{ url }}/assets/img/uniao_logo.png" alt="partner4" draggable="false"></a>
            <a class="w-25 m-4 lazyload" href="https://www.cpccrd.pt/" target="_blank"><img class="w-25 m-4 lazyload" data-src="{{ url }}/assets/img/cpdc.png" alt="partner4" draggable="false"></a>
          </div>
        </div>

        <div class="col-md-7 text-center">

          <p class="lead mb-3 ">Parceiros Não institucionais</p>
          <div class="brands-m text-center d-flex-column partners ">

            <a class="w-25 m-4 lazyload" href="http://www.bardopeixe.pt/" target="_blank"><img class="w-25 m-4 lazyload" data-src="{{ url }}/assets/img/bar_do_peixe.png" alt="partner1" draggable="false"></a>
            <!-- <img class="w-25 m-4" src="https://cdn.worldvectorlogo.com/logos/setubal-municipio-participado.svg" alt="" draggable="false"> -->
            <a class="w-25 m-4 lazyload" href="https://www.facebook.com/antonio.matias.fotografia" target="_blank"><img class="w-25 m-4 lazyload" data-src="{{ url }}/assets/img/antonio_matias.jpg" alt="partner4" draggable="false"></a>
          </div>
        </div>

        <div class="col-md-7 text-center">

          <p class="lead mb-3 ">Parcerias desportivas</p>
          <div class="brands-m text-center d-flex-column partners ">

            <a class="w-25 m-4 lazyload" href="https://www.facebook.com/Atletismo-GrupoDesportivo-Fonte-da-Prata-1505274209775044" target="_blank"><img class="w-25 m-4 lazyload" data-src="{{ url }}/assets/img/fonte_da_prata.jpg" alt="partner1" draggable="false"></a>
            <!-- <img class="w-25 m-4" src="https://cdn.worldvectorlogo.com/logos/setubal-municipio-participado.svg" alt="" draggable="false"> -->
            <a class="w-25 m-4 lazyload" href="https://www.acdc.pt" target="_blank"><img class="w-25 m-4 lazyload" data-src="{{ url }}/assets/img/cotovia.png" alt="partner2" draggable="false"></a>

          </div>
        </div>

        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </div>
  <!-- /.content-overlay -->
</div>
