---
layout: default
---
<div class="container-fluid">

  <section class="breadcrumbs text-muted">
    <div class="container-fluid">

      <div class="d-flex justify-content-between align-items-center">
        <h2>Actividades</h2>
        <ol>
          <li><a href="/">Início</a></li>
          <li>Actividades</li>

        </ol>
      </div>

    </div>
  </section>
  <div class="row justify-content-md-center">
    <div class="col text-center text-muted my-5">

      <h4 class="text-center text-muted display-4"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class=" icone display-4 bi bi-trophy-fill" viewBox="0 0 16 16">
          <path d="M2.5.5A.5.5 0 0 1 3 0h10a.5.5 0 0 1 .5.5c0 .538-.012 1.05-.034 1.536a3 3 0 1 1-1.133 5.89c-.79 1.865-1.878 2.777-2.833 3.011v2.173l1.425.356c.194.048.377.135.537.255L13.3 15.1a.5.5 0 0 1-.3.9H3a.5.5 0 0 1-.3-.9l1.838-1.379c.16-.12.343-.207.537-.255L6.5 13.11v-2.173c-.955-.234-2.043-1.146-2.833-3.012a3 3 0 1 1-1.132-5.89A33.076 33.076 0 0 1 2.5.5zm.099 2.54a2 2 0 0 0 .72 3.935c-.333-1.05-.588-2.346-.72-3.935zm10.083 3.935a2 2 0 0 0 .72-3.935c-.133 1.59-.388 2.885-.72 3.935z" />
        </svg></h4>
      <h5 class="display-4 text-center "><small>ACTIVIDADES</small></h5>
      <p class="lead text-center text-muted"> Aqui encontram-se as actividades desportivas praticadas na nossa associação. Conheça as nossas modalidades bem como os horários e locais onde são leccionados.</p>
    </div>

  </div>
</div>

<div class="">
  {% for actividade in site.actividades %}

  <div class="bg-light shadow-lg p-3 mb-5 bg-white rounded" id="about">
    <div class="container py-5">
      <div class="row h-100 align-items-center py-5">
        <div class="col-lg-6 align-items-center">
          <h3 class="display-4 text-center">{{actividade.name}}</h3>
          <p class="lead text-center text-muted mb-0">{{actividade.desciption}}</p>
          <p class="lead text-muted">
            <!-- {{ actividade.excerpt | strip_html | strip_newlines | truncate: 156 }} -->
          </p>

          <div class="d-flex justify-content-center">
            {% if actividade.button_info And actividade.button_info != "" And actividade.button_info != nil    %}
            <a href="{{actividade.url}}" class="btn_info btn ">{{actividade.button_info}}</a>
            {% endif %}

          </div>
        </div>
        <div class="col-lg-6 d-none d-block">
          <a href="{{actividade.url}}">
            {% if actividade.link_image And actividade.link_image != "" And actividade.link_image != nil    %}
            <div class="image">

              <img data-src="{{actividade.link_image}}" src="{{actividade.link_image}}" alt="about1" class="img-fluid lazyload" onError="this.onerror=null;this.src='https://gdrverderena.pt/assets/img/more-service-3.jpg';">
            </div>
            {% endif %}
          </a>
        </div>

      </div>
    </div>
  </div>

  {% endfor %}

</div>
