---
layout: default
---

 <div class="">
 
 
    {% for actividade in site.actividades %}
 
 
 <div class="bg-light shadow-lg p-3 mb-5 bg-white rounded" id="about">
  <div class="container py-5">
    <div class="row h-100 align-items-center py-5">
      <div class="col-lg-6 align-items-center">
        <h3 class="display-4 text-center">{{actividade.name}}</h3>
        <p class="lead text-center text-muted mb-0">{{actividade.desciption}}</p>
	<p class="lead text-muted"> <!-- {{ actividade.excerpt | strip_html | strip_newlines | truncate: 156 }} -->  </p>
	      
	      <div class="d-flex justify-content-center">
	       {% if actividade.button_info And actividade.button_info != "" And actividade.button_info != nil    %} 
      		<a href="{{actividade.url}}" class="btn_info btn ">{{actividade.button_info}}</a>
	      {% endif %}
	      
	      </div>
      </div>
	    <div class="col-lg-6 d-none d-block">
		    <a href="{{actividade.url}}">
			    {% if actividade.link_image And actividade.link_image != "" And actividade.link_image != nil    %} 
			     <div class="image">
			    
		            <img data-src="{{actividade.link_image}}"  src="{{actividade.link_image}}" alt="about1" class="img-fluid lazyload" onError="this.onerror=null;this.src='https://gdrverderena.pt/assets/img/more-service-3.jpg';" >
			    </div>
				     {% endif %}
		    </a>
	    </div>
     
    </div>
  </div>
</div>
 
 
      {% endfor %}
 
 </div>
