---
layout: default
title: G. D. R. Verderena's Blog
---

<div class="text-center">
  <h2 class="text-muted">Notícias</h2>
  <hr />
</div>

<div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
  <div class="col-md-6 px-0">
    <h3 class="display-4 font-italic">{{ page.title }}</h3>
    <p class="lead my-3">
      Multiple lines of text that form the lede, informing new readers quickly
      and efficiently about what’s most interesting in this post’s contents.
    </p>
    <p class="lead mb-0">
      <a href="#" class="text-white font-weight-bold">Continue reading...</a>
    </p>
  </div>
</div>

<div class="row">
  <!--<ul class="posts">-->
  <div class="col-md-9">
    <!--   <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li> -->
    <!-- 

    <div class="card-columns">
      {% for post in site.posts %}
     

      <a href="{{ post.url }}" title="{{ post.title }}">
        <div class="card">
          {% if post.featured-image And post.featured-image != "" And
          post.featured-image != nil And
          imageValidate(post.featured-image)==true %}
          <img src="{{ post.featured-image }}" class="card-img-top" alt="..." />
          {% endif %}

          <div class="card-body">
            <h5 class="card-title">{{ post.title }}</h5>
            <p class="card-text">{{ post.description }}</p>
            <hr />
            <p class="card-text">
              <small class="text-muted"
                >Last updated {{ post.date | date_to_string }}</small
              >
            </p>
            <a
              class="btn btn-light btn-sm mb-1 text-small mt-2 font-weight-light text-muted"
              >{{ post.categories}}</a
            >
          </div>
        </div>
      </a>

      {% endfor %}
			-->
  </div>

  <!--</ul>-->
  <div class="col-md-9">
    {% for post in site.posts %}
    <section class="section-1">
      <div class="container text-center">
        <div class="row">
          {% if post.featured-image And post.featured-image != "" And
          post.featured-image != nil And
          imageValidate(post.featured-image)==true %}
          <div class="col-md-6 col-12">
            <div class="pray">
              <!-- img-fluid -->
              <img src="{{ post.featured-image }}" alt="Pray" class="" />
            </div>
          </div>
          {% endif %}
          <div class="col-md-6 col-12">
            <div class="panel text-left">
              <h1>{{ post.title }}</h1>
              <p class="pt-4">
                {{ post.description }}
              </p>
              <p>
                {{ post.excerpt }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    {% endfor %}
  </div>

  <div class="col-md-3 ml-auto">
    <aside class="sidebar">
      <div class="card mb-4">
        <div class="card-body">
          <h4 class="card-title">About</h4>
          <p class="card-text">
            Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem
            quam <a href="#">semper libero</a>, sit amet adipiscing sem neque
            sed ipsum.
          </p>
        </div>
      </div>
      <!-- /.card -->
    </aside>

    <aside class="sidebar sidebar-sticky text-muted">
      <div class="card mb-4">
        <div class="card-body">
          <h4 class="card-title">Categorias</h4>
          <a class="btn btn-light btn-sm mb-1" href="#">Futebol</a>
          <a class="btn btn-light btn-sm mb-1" href="#">Atletismo</a>
        </div>
      </div>
      <!-- /.card -->
      <div class="card mb-4">
        <div class="card-body">
          <h4 class="card-title">Últimas Notícias</h4>
          <ul class="list-group list-group-flush">
            {% for post in site.posts limit:3 %}
            <li class="list-group-item">
              <a
                href="{{ post.url }}"
                title="{{ post.title }}"
                class="d-inline-block"
              >
                <h4 class="h6">{{ post.title }}</h4>
                <!--<img class="card-img" src="img/articles/2.jpg" alt=""> -->
              </a>
              <hr />
              <time class="timeago text-muted"
                >{{ post.date | date_to_string }}</time
              >

              <!-- <i class="btn btn-light btn-sm mb-1 text-small mt-2 font-weight-light text-muted">{{ post.categories}}</i>-->
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <!-- /.card -->
    </aside>
  </div>
</div>
