<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  
  </head>


  <body>
    <nav>
<ul>
<li><a href="/">G. D. R. Verderena</a></li>
<li><a href="/about">Sobre</a></li>
<li><a href="/cv">Contactos</a></li>
<li><a href="/blog">Posts</a></li>
</ul>
    </nav>
<div class="container">

  {{ content }}

</div>
  
  <footer>
   <ul>
   <li><a href="mailto:g.d.verderena@gmail.com">email</a></li>
   <li><a href="https://www.facebook.com/G-D-R-Verderena-356445604388109/">Facebook</a></li>
   </ul>
  </footer>
  </body>

</html>
