---
layout: default
---


<style>
      .blog-post img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
      
      
      .blog-post iframe {
           
            
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
           
            
      }
      
      #fullScreenButton{
  
  box-shadow:none;
}
      
      
      
      @media only screen and (max-width: 768px) {


   .blog-post iframe {
 
        /*
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
         
         */
         
            min-width: 100%; 
        width: 100px;
        *width: 100%; 
                    
      }
}

      
</style>

<br>

<section class="breadcrumbs text-muted">
  <div class="container">

    <div class="d-flex justify-content-between align-items-center">
      <h2>{{ page.title }}</h2>
      <ol>
        <li><a href="/">Início</a></li>
        <li>{{ page.title }}</li>
      </ol>
    </div>

  </div>
</section><!-- End Breadcrumbs Section -->

<div class="container text-muted">
  <br><br>
  <div class="blog-post">
    <h2 class="blog-post-title">{{ page.title }}</h2>

    <span>
      <br><br>

      {% for tag in page.tags %}
      {% capture tag_name %}{{ tag }}{% endcapture %}
      <a href="/tag/{{ tag_name }}"><code class="noselect  btn btn-light btn-sm mb-1 text-small mt-2 font-weight-light text-secondary">
          <nobr>
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-hash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path d="M8.39 12.648a1.32 1.32 0 0 0-.015.18c0 .305.21.508.5.508.266 0 .492-.172.555-.477l.554-2.703h1.204c.421 0 .617-.234.617-.547 0-.312-.188-.53-.617-.53h-.985l.516-2.524h1.265c.43 0 .618-.227.618-.547 0-.313-.188-.524-.618-.524h-1.046l.476-2.304a1.06 1.06 0 0 0 .016-.164.51.51 0 0 0-.516-.516.54.54 0 0 0-.539.43l-.523 2.554H7.617l.477-2.304c.008-.04.015-.118.015-.164a.512.512 0 0 0-.523-.516.539.539 0 0 0-.531.43L6.53 5.484H5.414c-.43 0-.617.22-.617.532 0 .312.187.539.617.539h.906l-.515 2.523H4.609c-.421 0-.609.219-.609.531 0 .313.188.547.61.547h.976l-.516 2.492c-.008.04-.015.125-.015.18 0 .305.21.508.5.508.265 0 .492-.172.554-.477l.555-2.703h2.242l-.515 2.492zm-1-6.109h2.266l-.515 2.563H6.859l.532-2.563z" />
            </svg>
            {{ tag_name }}</nobr>
        </code>&nbsp;</a>
      {% endfor %}

    </span>

    <p class="blog-post-meta meta">{{ page.date | date_to_string }} by <a class"link" href="#">G. D. R. Verderena</a></p>

    <div class="col text-left">
      <button type="button" class=" font-weight-bold text-muted btn btn-link" id="fullScreenButton">

        <svg id="enterFullScreen" width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-fullscreen" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M1.5 1a.5.5 0 0 0-.5.5v4a.5.5 0 0 1-1 0v-4A1.5 1.5 0 0 1 1.5 0h4a.5.5 0 0 1 0 1h-4zM10 .5a.5.5 0 0 1 .5-.5h4A1.5 1.5 0 0 1 16 1.5v4a.5.5 0 0 1-1 0v-4a.5.5 0 0 0-.5-.5h-4a.5.5 0 0 1-.5-.5zM.5 10a.5.5 0 0 1 .5.5v4a.5.5 0 0 0 .5.5h4a.5.5 0 0 1 0 1h-4A1.5 1.5 0 0 1 0 14.5v-4a.5.5 0 0 1 .5-.5zm15 0a.5.5 0 0 1 .5.5v4a1.5 1.5 0 0 1-1.5 1.5h-4a.5.5 0 0 1 0-1h4a.5.5 0 0 0 .5-.5v-4a.5.5 0 0 1 .5-.5z" />
        </svg>

        <svg id="leaveFullScreen" style="display:none;" width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-fullscreen-exit" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M5.5 0a.5.5 0 0 1 .5.5v4A1.5 1.5 0 0 1 4.5 6h-4a.5.5 0 0 1 0-1h4a.5.5 0 0 0 .5-.5v-4a.5.5 0 0 1 .5-.5zm5 0a.5.5 0 0 1 .5.5v4a.5.5 0 0 0 .5.5h4a.5.5 0 0 1 0 1h-4A1.5 1.5 0 0 1 10 4.5v-4a.5.5 0 0 1 .5-.5zM0 10.5a.5.5 0 0 1 .5-.5h4A1.5 1.5 0 0 1 6 11.5v4a.5.5 0 0 1-1 0v-4a.5.5 0 0 0-.5-.5h-4a.5.5 0 0 1-.5-.5zm10 1a1.5 1.5 0 0 1 1.5-1.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 0-.5.5v4a.5.5 0 0 1-1 0v-4z" />
        </svg>

      </button>
    </div>

    {{ content }}
  </div>

  {% assign sorted_tags = page.tags | sort %}
  {% for tag in sorted_tags %}
  <span class="tag"><i>{{ tag }}</i></span>
  {% endfor %}

</div>




<script>
      
      
      /*Fullscreen*/


const fullScreenButton = document.querySelector('#fullScreenButton');
const enterFullScreen  = document.querySelector('#enterFullScreen');
const leaveFullScreen  = document.querySelector('#leaveFullScreen');

fullScreenButton.addEventListener('click', () => {
  if (! document.fullscreenEnabled || /* Standard syntax */
    	!document.webkitFullscreenEnabled || /* Chrome, Safari & Opera */
    	!document.mozFullScreenEnabled || /* Firefox */
    	!document.msFullscreenEnabled /* IE/Edge */) {
	     //fullScreenButton.textContent = 'Leave Full Screen';
    leaveFullScreen.style.display = "initial";
    enterFullScreen.style.display = "none";
   
   
	  
	      /* Show the element in fullscreen */
    if (document.documentElement.requestFullscreen) {
      document.documentElement.requestFullscreen(); /* Standard syntax */
    } else if (document.documentElement.mozRequestFullScreen) { /* Firefox */
      document.documentElement.mozRequestFullScreen();
    } else if (document.documentElement.webkitRequestFullscreen) { /* Chrome, Safari & Opera */
      document.documentElement.webkitRequestFullscreen();
    } else if (document.documentElement.msRequestFullscreen) { /* IE/Edge */
      document.documentElement.msRequestFullscreen();
    }
	  
 
  } else {
    //fullScreenButton.textContent = 'Enter Full Screen';
    enterFullScreen.style.display = "initial";
    leaveFullScreen.style.display = "none";
    document.exitFullscreen();
   
  }  
});

/*End Fullscreen*/
</script>

