---
layout: default
---


<style>
       container.img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
</style>




<div class="container">
<div class="blog-post">
        <h2 class="blog-post-title">{{ page.title }}</h2>
        
        <span>[
                
  {% for tag in page.tags %}
    {% capture tag_name %}{{ tag }}{% endcapture %}
    <a href="/tag/{{ tag_name }}"><code class="highligher-rouge"><nobr>{{ tag_name }}</nobr></code>&nbsp;</a>
  {% endfor %}

                ]</span>
        
        <p class="blog-post-meta meta">{{ page.date | date_to_string }} by <a href="#">G. D. R. Verderena</a></p>

         {{ content }}
      </div>
  
        
        {% assign sorted_tags = page.tags | sort %}
{% for tag in sorted_tags %}
  <span class="tag"><i>{{ tag }}</i></span>
{% endfor %}
        
</div>


