---
layout: default
---

<!--{{ page.featured_image_path  }} -->
   <section class="breadcrumbs text-muted">
    <div class="container">

      <div class="d-flex justify-content-between align-items-center">
        <h2>{{ page.title }}</h2>
        <ol>
          <li><a href="/">Início</a></li>
          <li><a href="/products">Merch</a></li>
          <li>{{ page.title }}</li>
        </ol>
      </div>

    </div>
  </section><!-- End Breadcrumbs Section -->
  <br>
  <br>

  <div class="container">
    <div class="content-sidebar-wrap row">

      <div class="col-12 col-lg-6">
        <section class="product-image d-block mb-4">
          <figure class="view overlay rounded z-depth-1 main-img">
            <img src="{{ page.featured_image_path  }}" itemprop="image" alt="" class="img-fluid z-depth-1">
          </figure>
        </section>
      </div>
      <div class="col-12 col-lg-6">
        <section class="product-details">
          <h4 class="entry-title item_name" itemprop="name">{{ page.name }}</h4>
          <p class="item_price text-muted">{{ page.price }} &euro;</p>

          <p class="text-muted">
            {{ page.description }}
          </p>
          <form target="_blank" action="https://formsubmit.co/g.d.verderena@gmail.com" id="merch" role="form" method="post" accept-charset="utf-8" enctype="multipart/form-data" data-toggle="validator">
            <div class="form-group">

              <label for="quantidade" class="control-label">Quantidade</label>
              <input  id="quantidade" name="quantidade" for="quantidade" class="form-control form-control-sm" type="number" placeholder="Quantidade" min="1" step="1" required value > 
              <span for="quantidade" class="text-muted" data-error="*Insira a Quantidade" required></span>
            </div>
             <div class="form-group">

              <label for="nome" class="control-label">Nome</label>
              <input id="nome" name="nome" for="nome" class="form-control form-control-sm" type="text" placeholder="Nome" required value  > 
              <span for="nome" class="text-muted" data-error="*Insira o seu Nome" required></span>
            </div>
               <div class="form-group">

              <label for="email" class="control-label">E-mail</label>
              <input id="email" name="email" for="email" class="form-control form-control-sm" type="email" placeholder="E-mail" required value  > 
              <span for="email" class="text-muted" data-error="*Insira o seu E-mail" required></span>
            </div>
             <div class="form-group">

              <label for="morada" class="control-label">Morada</label>
              <input id="morada" name="morada" for="email" class="form-control form-control-sm" type="text" placeholder="Morada"  value  > 
              <span for="morada" class="text-muted" data-error="*Insira a sua Morada" required></span>
            </div>
             <div class="form-group">

              <label for="tel" class="control-label">Contacto Telefónico</label>
              <input id="tel" name="telefone" for="tel" class="form-control form-control-sm" type="tel" placeholder="Contacto Telefónico" required value  > 
              <span for="tel" class="text-muted" data-error="*Insira o seu Contacto Telefónico" required></span>
            </div>
             
              <div class="form-group">
        <input type="hidden" name="Price" value="{{ page.price }}">  
        <input type="hidden" name="Produto" value="{{ page.name }}">   
        <input type="hidden" name="_autoresponse" value="Obrigado Por nos Contactar. Entraremos em Contacto Brevemente.">
        <input type="hidden" name="_captcha" value="false">
        <input type="hidden" name="_template" value="box">
        <input type="hidden" name="_next" value="https://gdr-verderena.github.io/">
        <input id="subject" type="hidden" name="_subject" value="G.D.R. VERDERENA">
        <input type="hidden" name="_replyto">
             </div>
             <div>
            <button id="item_add" href="javascript:;" type="submit" class=" item_add button btn btn-secondary btn-sm">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart-fill" viewBox="0 0 16 16">
                <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
              </svg>
              Finalizar Pedido </button>
              </div>
       
          </form>
        </section>
      </div>
    </div>

    <div class="row">
      <!-- Description -->
      <div class="col-12">

        <p class="text-muted">
          {{ content }}
        </p>

      </div>
    </div>
  </div>

