---
layout: default
---

<style>
  .item-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #f6f6f6;
  }
</style>
<div class="container">
  
  <section class="breadcrumbs text-muted">
  <div class="container">

    <div class="d-flex justify-content-between align-items-center">
      <h2>{{ page.title }}</h2>
      <ol>
        <li><a href="/">Início</a></li>
        <li>{{ page.title }}</li>
      </ol>
    </div>

  </div>
</section><!-- End Breadcrumbs Section -->

  <div class="wrap">
    <div class="content-sidebar-wrap row">

      <div class="col-xs-4 item-photo">
        <section class="product-image d-block mb-4">
          <figure class="view overlay rounded z-depth-1 main-img">
            <img src="{{ page.featured_image_path  }}" itemprop="image" alt="" class="img-fluid z-depth-1">
          </figure>
        </section>
      </div>
      <div class="col-xs-5">
        <section class="product-details">
          <h1 class="entry-title item_name" itemprop="name">{{ page.name }}</h1>
          <p class="item_price">{{ page.price }}</p>

          {{ content }}
          <div>

            <label for="quantidade">Quantidade</label>
            <input id="quantidade" class="form-control form-control-sm" type="number" placeholder="Quantidade">
          </div>

          <button id="item_add" href="javascript:;" type="button" class=" item_add button btn btn-light btn-md mr-1 mb-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart-fill" viewBox="0 0 16 16">
              <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
            </svg>
            Add to cart</button>

        </section>
      </div>
    </div>
  </div>
</div>
